<!DOCTYPE html>
{% load static %}
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glassmorphism Login Form | CodingNepal</title>
  <link rel="stylesheet" href="{% static 'adminstyle\style.css' %}">
</head>
<body>
  <div class="wrapper">
    <form action="" method="post">
      {% csrf_token %}
      <h2>register</h2>
        <div class="input-field">
        <input type="text"  name="usname"required>
        <label>Enter your user name</label>
      </div>
      <div class="input-field">
        <input type="email"  name="email"required>
        <label>Enter your email id</label>
      </div>
      <div class="input-field">
        <input type="password" name="pswd" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">register</button>
      <div class="register">
        <p>Don't have an account? <a href="{% url 'login_page' %}">login</a></p>
      </div>
    </form>
  </div>
</body>
</html>